## groupbyメソッドで集約する ##

- DataFrameの集約

In [1]:
import os
import pandas as pd
import numpy as np

base_url = "https://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/"
anime_master_csv = os.path.join(base_url, "anime_master.csv")
df = pd.read_csv(anime_master_csv)

grouped = df.groupby("type")
type(grouped)

pandas.core.groupby.DataFrameGroupBy

- 集約されたデータの平均値

In [2]:
grouped.mean().round(1)

         anime_id  episodes  rating  members
type
Movie     14322.5       1.1     6.3  10654.0
Music     22495.1       1.1     5.6   1273.0
ONA       22738.0       6.8     5.6   4401.8
OVA       12207.7       2.5     6.5   6849.5
Special   16802.3       2.5     6.5   7424.6
TV        10929.6      37.5     6.9  41832.3

- 集約されたデータの基本統計

In [3]:
grouped.describe().round(1).head(16)

             anime_id  episodes   members  rating
type
Movie count    2220.0    2220.0    2220.0  2220.0
      mean    14322.5       1.1   10654.0     6.3
      std     10925.7       2.2   31603.6     1.2
      min         5.0       1.0      13.0     2.5
      25%      4396.8       1.0     119.0     5.4
      50%     10677.5       1.0     489.5     6.5
      75%     24071.5       1.0    4239.0     7.3
      max     34201.0     100.0  466254.0    10.0
Music count     485.0     485.0     485.0   485.0
      mean    22495.1       1.1    1273.0     5.6
      std     10175.0       1.3    4489.0     1.0
      min       731.0       1.0      24.0     3.3
      25%     12101.0       1.0      97.0     5.0
      50%     24903.0       1.0     226.0     5.6
      75%     31925.0       1.0     797.0     6.2
      max     34412.0      24.0   71136.0     8.4

- 集約された複数列データの平均値

In [4]:
df.groupby(["type", "episodes"]).mean().round(1).head(20)

                anime_id  rating  members
type  episodes
Movie 1          14320.0     6.3  10588.6
      2          13802.0     6.9   6638.9
      3          11339.3     6.7  53598.1
      4          15723.5     7.3   3566.5
      5          12558.3     6.1   3641.0
      6           8433.5     6.0    178.5
      7          13602.5     6.9  11989.5
      9           8928.0     6.2    267.0
      10         31020.0     6.9     57.0
      12         20908.0     5.4    790.7
      14         13817.0     6.0    137.0
      100        29924.0     7.0     56.0
Music 1          22576.2     5.6   1200.0
      2          28390.8     6.0    404.8
      4           1998.0     6.7   6650.0
      5          14359.0     6.2   1582.0
      7           8348.0     7.1  13361.0
      8           4705.0     7.3  22213.0
      14          5016.0     6.7   2240.0
      24         32633.0     7.6    560.0